<html>
    <head>
        <title>Django Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Blog</a></h1>
        </div>

        <div>
            <p>published: 30.05.2017, 12:14</p>
            <h2><a href="">About Shiva</a></h2>
            <p>In the Hindu mythology, Lord Shiva is the Destroyer and the most important one in the Holy Trinity, the other two being Brahma the Creator and Vishnu the Protector. Lord Shiva has always fascinated his followers by his unique appearance: he has not two but three eyes, has ash smeared all over his body, has snakes coiled up around his head and arms, wears tiger and elephant skin, leads a wild life in the cremation grounds far removed from social pretenses, and is known for his proverbial anger..</p>
	</div>

        <div>
            <p>published: 27.05.2017, 12:14</p>
            <h2><a href="">About Tesla</a></h2>
            <p>Tesla was founded in 2003 by a group of engineers in Silicon Valley who wanted to prove that electric cars could be better than gasoline-powered cars. With instant torque, incredible power, and zero emissions, Tesla’s products would be cars without compromise. Each new generation would be increasingly affordable, helping the company work towards its mission: to accelerate the world’s transition to sustainable energy</p>
 </div>
    </body>
</html>
